<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/energia_convencional.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <div  class="animated zoomInUp" >
          <h1>Energía Convencional</h1>
          <br>
          <h3>Las energías no renovables o energías convencionales son aquellas fuentes de energía que se encuentran en la naturaleza en cantidades limitadas, las cuales, una vez consumidas en su totalidad, no pueden sustituirse, ya que no existe sistema de producción o de extracción económicamente viable. </h3>
      </div>
          <br />
    
      </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Desarrollo de la energía convencional en Panamá</h2>
              <h5 style=" color: rgb(0, 0, 0); text-align: justify"class="description">
                  Panamá se enfrenta al desafío de contar con recursos energéticos suficientes y competitivos para llevar adelante su desarrollo en las próximas décadas.El país, en este sentido, ha puesto su mirada en las energía limpias y renovables, pero se niega a prescindir de la energía térmica que le permite contar con energía estable y segura para el suministro.
              </h5>
              <br>
              <a href="#paper-kit" class="btn btn-danger btn-round">Ver más</a>
          </div>
      </div>
      <br/><br/>
      <h1 style=" color: rgb(0, 0, 0); text-align: left" >Recursos</h1>
      <br> 
      <div class="row">

        
          <div class="card-group">
              
   <!-- Card -->
 
   <mdb-card dark="true">

      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/convencional.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body class="elegant-color white-text">
        <a class="activator px-3 mr-2">
            <mdb-icon fas icon="fas fa-radiation" class="white-text"></mdb-icon>
        </a>

        <!--Title-->
        <mdb-card-title style=" color: rgb(253, 253, 253)">
            
          <h4> Concepto  </h4>
        </mdb-card-title>

        <hr class="hr-light">

        <!--Text-->

        <mdb-card-text class="white-text">
            Las fuentes de energía no renovables son aquellas que se encuentran en la naturaleza en una cantidad agotable, no se regeneran o lo hacen de una forma muy lenta en relación a la esperanza de vida humana.          </mdb-card-text>

        <a href="#!" class="white-text d-flex justify-content-end">
          <h5 class="waves-light white-text"  mdbWavesEffect>Leer Más
            <span>
              <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
            </span>
          </h5>
        </a>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>

<!-- Card -->

  <!-- Card -->
  <mdb-card dark="true">

      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/bahia_las_minas.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body class="elegant-color white-text">
        <a class="activator px-3 mr-2">
            <mdb-icon fas icon="fas fa-radiation" class="white-text"></mdb-icon>
        </a>

        <!--Title-->
        <mdb-card-title style=" color: rgb(253, 253, 253)">
            
          <h4> Bahía las Minas  </h4>
        </mdb-card-title>

        <hr class="hr-light">

        <!--Text-->

        <mdb-card-text class="white-text">
            Úbicada en la provincia de Colón, es una de las principales termoeléctricas del país y una de las primeras termoeléctricas de la República. 
        </mdb-card-text>
        <a class="white-text d-flex justify-content-end">
          <h5 class="waves-light white-text" [routerLink]="['/ecbahiaminas']" mdbWavesEffect>Leer Más
            <span>
              <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
            </span>
          </h5>
        </a>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
<!-- Card -->

  <!-- Card -->
  <mdb-card dark="true">

      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/panam.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body class="elegant-color white-text">
        <a class="activator px-3 mr-2">
            <mdb-icon fas icon="fas fa-radiation" class="white-text"></mdb-icon>
        </a>

        <!--Title-->
        <mdb-card-title style=" color: rgb(253, 253, 253)">
            
          <h4> Pan-Am  </h4>
        </mdb-card-title>

        <hr class="hr-light">

        <!--Text-->

        <mdb-card-text class="white-text">
            El proyecto Pan-Am surge en 1999 al ganar una licitación para ofrecer suministro de energía entre Pan-Am Generating y EDEMET.
        </mdb-card-text>

        <a href="#!" class="white-text d-flex justify-content-end">
          <h5 class="waves-light white-text" [routerLink]="['/ecPanAm']" mdbWavesEffect>Leer Más
            <span>
              <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
            </span>
          </h5>
        </a>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
<!-- Card -->

            </div>
  </div>
  <br><br>
</div>

<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">Acerca de Nosotros</h2>
      <div class="row">
          <div class="col-md-4">
            
          </div>

          <div class="col-md-4">
         
          </div>

          <div class="col-md-4">
    
          </div>
      </div>
  </div>
</div>


</div>
