<div class="wrapper teal lighten-5">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/portada_fortuna.jpg');">
      <div class="filter"></div>
      
  </div>

   
            
              <div class="owner cyan lighten-5">
                
                <div  class="animated zoomInUp" >
                <div class="titulo-seccion blue lighten-4" style="font-weight:bold; margin: 40px  50px;"><h1>Hidroeléctrica Fortuna </h1> <span class="linea"></span></div>
              </div>
              </div>
            
       
        <div class="navigation-example-ehfort">
    
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
  
                    <div class="collapse navbar-collapse" id="navbar-transparent">
  
  <div class="section profile-content">
      <div class="container teal lighten-5">
        <div class="owner ">
          <br>
          <div  class="animated zoomInUp" >
          <div class="titulo-seccion  blue lighten-4" style="font-weight:bold; margin: 20px  30px"><h2>Inicios </h2> <span class="linea"></span></div>
        </div>
        </div>
          <div class="row   cyan lighten-5">
 

                        <br>
                      <div class="col-lg-6 col-md-14">
                          <div  class="animated lightSpeedIn" >
                              <div class="energia" >
     <br>
     <br>
     <br>
     <br>

                                      <img class="log" src="assets/img/hidro_fortuna2.jpg" href="" alt=""  style=" max-width: 100%; height: auto;" >
                                  </div>
                                  </div>
                      </div>

                      <div class="col-lg-6 col-md-12 ">
                          <!--<h2 class="title">Inicios</h2><span class="linea_inic"></span><br/>-->
                          <p class="description" style=" color: black; font-size: 1.2em">
                              La planta hidroeléctrica Fortuna es una hidroeléctrica con embalse y está ubicada la provincia de Chiriquí fue inaugurada en marzo de 1984, con una capacidad instalada de 300 MW (3 unidades o turbinas de 100MW cada una) aprovechando las aguas fluyentes del Río Chiriquí.

                             </p><br/>
                          <p class="description" style="color: black; font-size: 1.2em">
                              Fortuna comenzó sus operaciones en 1984 con una caída de 60m, y una presa 600m de ancho, actualmente sigue siendo una construcción muy impresionante. La casa de máquinas se encuentra por debajo de la superficie a una profundidad de 430m y 32 Km de la cuenca.
                              En 1998, el Gobierno panameño inició el proceso de privatización del sector eléctrico. En ese mismo año, después de una subasta pública, el gobierno vendió el 51% de las acciones de las compañías de distribución y generación térmica, así como el 49% de las acciones correspondientes a la generación hidroeléctrica.
                              En agosto 2006 Enel Green Power adquiere el 49% de Fortuna S.A..Actualmente la compañía tiene una participación mayoritaria en la empresa.
                                                                            
                               </p><br/>
  
                         
                      </div>
            
          </div>
          <br/>
          <br/>
        
        
          <div class="nav-tabs-navigation  " >
             
              <div class="nav-tabs-wrapper ">
                 
                  <ngb-tabset [justify]="'center'" type="pills">
                      <ngb-tab title="Ubicación" >
                          <ng-template ngbTabContent>
                      
                              <div class="container"  >
                    
                        <agm-map [zoom]="16"  style="height: 550px"  [latitude]="lat" [longitude]="lng">
                          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                            
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Operacion">
                          <ng-template ngbTabContent>
             <!-- Horizontal Steppers -->
<div class="row ">
    <div class="col-md-11 " style="margin: auto">
  
      <!-- Stepers Wrapper -->
      <ul class="stepper stepper-horizontal cyan lighten-4">
  
        <!-- First Step -->
        <li class="completed">
          <a href="#!">
            <span class="circle">1</span>

            <h2 style="color: black">Inicio</h2>
            <br>    <br>   
                          <!-- Section Description -->
        <div class="step-content cyan lighten-4" disableWaves="true" style="font-size:3em;color: black ">
            <p style="font-size:0.4em ">El agua del embalse es conducida hasta la Casa de Máquinas ubicada a un nivel inferior (765m), a través de túnel con el propósito de transformar esa energía en energía potencial de presión de agua.</p>
    
          </div>
          </a>

        </li>
  
        <!-- Second Step -->
        <li class="active ">
          <a href="#!">
            <span class="circle ">2</span>
            <h2 style="color: black">Procesamiento</h2>
          
            <br>    <br>   
            <!-- Section Description -->
<div class="step-content cyan lighten-4" disableWaves="false" style="font-size:3em;color: black">
<p style="font-size:0.4em ">Esta energía potencial de presión de agua al abrir los inyectores y al chocar el agua con el rodete Pelton, es transformada en energía mecánica al hacer girar el rotor del generador.</p>

</div>
          </a>
        </li>
  
        <!-- Third Step -->
        <li class="active ">
          <a href="#!">
            <span class="circle">3</span>
            <h2 style="color: black">Entrega</h2>
            <br>    <br>      
            <!-- Section Description -->
<div class="step-content cyan lighten-4" disableWaves="false" style="font-size:3em;color: black">
<p style="font-size:0.4em">Finalmente la energía mecánica se transforma en energía eléctrica en el generador y es transportada hacia las líneas de transmisión.</p>

</div>
          </a>
        </li>
  
      </ul>
      <!-- /.Stepers Wrapper -->
  
    </div>
  </div>
  <!-- /.Horizontal Steppers -->
                      </ng-template>
                      </ngb-tab>


                      <ngb-tab title="Estructura" >
                          <ng-template ngbTabContent>
                      
                              
                                 
                                 
                                                                       <img class="log" src="assets/img/fortuna_estructura.jpg" href="" alt=""  style=" max-width: 100%; height: auto;" >

                                                                   </ng-template>
                                                                  </ngb-tab>



                      <ngb-tab title="Información">
                          <ng-template ngbTabContent>
                      
                              <div class="container"  >
                       
                        <!--<div #gmap id="map" style="width:50%;height:100px"></div>
                          <div class="col-md-3 col-sm-12 col-xs-12">
                              <button (click)="setMapType('roadmap')"class="btn btn-primary">Mapa</button>
                              <button (click)="setMapType('satellite')" class="btn btn-danger">Satélite</button>
                    
                            </div>
                            --> 
                            <div class="step-content cyan lighten-4" disableWaves="false" style="font-size:1.4em;color: black;text-align:justify;font-style:initial">
                              <pre style="text-align: justify">  
        Proyecto: Fortuna

        Empresa a cargo del proyecto: ENEL Fortuna.
                               
        Fecha inicial de Contrucción: Enero 1972.
                                     
        Fecha de finalización: Marzo 1984.

        Área del embalse: 10 km2 (1,000 Ha.).

        Volumen aproximado de almacenaje: 172.3 millones de metros cúbicos

        Niveles operativos:

                          Máx: 1050.00 msnm.               

                          Mín: 1000.00 msnm.

        Capacidad Instalada: 300 MW (3 unidades o turbinas Pelton de 100MW cada una).
                                    
        Inversión: 500 millones.   
                                   
        Aporte a la demanda energética del país: 23%
                              </pre>
                                 
                              
                                
                                </div>
                                          
                          </div>
                        </ng-template>
                      </ngb-tab>
                      

              
                    <ngb-tab title="Beneficios">
                        <ng-template ngbTabContent>
                    
                            <div class="container"  >

                       
                           <div class="step-content cyan lighten-4" disableWaves="true" style="font-size:1.4em;color: black;text-align:justify;font-style:initial">
                            <pre style="text-align: justify">  
  - Aporta a la conservación del medio ambiente con su reserva forestal.
                          
  - Posee un centro de visitantes con un bonito e interesante mirador, equipo audiovisual y exhibiciones 
    sobre temas fundamentales como el medio ambiente, operación de la planta, actividades del comité de 
    gestión social y proyectos de inversión de Fortuna.
  
                            </pre>
                               
                            
                              
                              </div>
                                    
                        </div>
                      </ng-template>
                    </ngb-tab>
                    
              
                  </ngb-tabset>
                  <!-- 
                  <div #gmap id="map" style="width:100%;height:550px"></div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                      <button (click)="setMapType('roadmap')"class="btn btn-primary">Mapa</button>
                      <button (click)="setMapType('satellite')" class="btn btn-danger">Satélite</button>
            
                    </div>
                    -->
          </div>
        </div>
   
      </div>
  </div>
</div>
</div>
</nav>
</div>

</div>
