
  <div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/bayano.jpg');">
        <div class="filter"></div>
        
    </div>

     
              <!--
                <div class="owner blue lighten-5">
                  <div  class="animated zoomInUp" >
                  <div class="titulo-seccion blue lighten-5" style="font-weight:bold; margin: 40px  50px;"><h1>Hidroeléctrica Bayano </h1> <span class="linea"></span></div>
                </div>
                </div>
              
         -->
          <div class="navigation-example-ehbay">
      
              <nav class="navbar navbar-expand-lg navbar-transparent">
                  <div class="container ">
    
                      <div class="collapse navbar-collapse" id="navbar-transparent">
    
    <div class="section profile-content ">
        <div class="container ">
          <div class="owner ">
            <br>
            <div  class="animated zoomInUp" >
            <div class="titulo-seccion teal lighten-3" style="font-weight:bold; margin: 20px  30px"><h1>Hidroeléctrica Bayano </h1> <span class="linea"></span></div>
          </div>
          </div>
            <div class="row  teal lighten-5">
   
                        <div class="col-lg-6 col-md-12 ">
                            <!--<h2 class="title">Inicios</h2><span class="linea_inic"></span><br/>-->
                           <br>
                            <p class="description" style="color: black; font-size: 1.2em">
                              La planta hidroeléctrica de Bayano está ubicada en la Provincia de Panamá, aproximadamente a 80 kilómetros al este de Ciudad de Panamá, siendo construida entre 1972 y 1976.
                              Bayano 1 (75 Megavatios) y Bayano 2 (75 Megavatios) iniciaron operaciones en julio y octubre de 1976, respectivamente. Bayano 3 (86 Megavatios) inició operaciones en noviembre de 2002 como parte de la expansión y mejora de la planta de Bayano.
                              Bajo ésta misma iniciativa, Bayano 1 y Bayano 2 fueron mejoradas a 87 Megavatios en septiembre del 2002 y febrero del 2004, respectivamente.
                            </p><br/>
                            <p class="description" style="color: black; font-size: 1.2em">
                              La planta hidroeléctrica de Bayano aprovecha las aguas fluyentes del Río Bayano que alimentan una represa de 350 kilómetros cuadrados.
                              La planta de generación eléctrica, construida en el cauce del río Bayano, tenía una capacidad instalada de 150 megavatios, pero con la ampliación ahora puede producir 260 megavatios.
                                 </p><br/>
    
                           
                        </div>
                          <br>
                        <div class="col-lg-6 col-md-14">
                            <div  class="animated lightSpeedIn" >
                                <div class="energia" >
       <br>
       <br>
       <br>
                                        <img class="log" src="assets/img/background_bayano.png" href="https://www.creative-tim.com" alt=""  style=" max-width: 100%; height: auto;" >
                                    </div>
                                    </div>
                        </div>
              
            </div>
            <br/>
            <br/>
          
          
            <div class="nav-tabs-navigation  " >
               
                <div class="nav-tabs-wrapper ">
                   
                    <ngb-tabset [justify]="'center'" type="pills">
                        <ngb-tab title="Ubicación" >
                            <ng-template ngbTabContent>
                        
                                <div class="container"  >
                      
                          <agm-map [zoom]="16"  style="height: 550px"  [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>
                              
                            </div>
                          </ng-template>
                        </ngb-tab>

         


  
                        <ngb-tab title="Información">
                            <ng-template ngbTabContent>
                        
                                <div class="container"  >
                         
                          <!--<div #gmap id="map" style="width:50%;height:100px"></div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <button (click)="setMapType('roadmap')"class="btn btn-primary">Mapa</button>
                                <button (click)="setMapType('satellite')" class="btn btn-danger">Satélite</button>
                      
                              </div>
                              --> 
                              <div class="step-content teal lighten-5" disableWaves="false" style="font-size:1.4em;color: black;text-align:justify;font-style:initial">
                                <pre style="text-align: justify">  
          Proyecto: Bayano

          Empresa a cargo del proyecto: AES Panamá.
                                 
          Fecha inicial de contrucción: Febrero 1972.
                                       
          Fecha de finalización: Marzo 1976.
                                     
          Área del embalse: 350 km2 (35,000 Ha.).

          Volumen aproximado de almacenaje: 27,000 millones de metros cúbicos.
  
          Niveles operativos:

                            Máx: 62.05 msnm.               

                            Mín: 50.00 msnm.
                                      
          Nivel máximo de diseño para crecidas: 64.00 msnm.

          Capacidad Instalada: 260 MW.
                            
                                     
      
                                </pre>
                                   
                                
                                  
                                  </div>
                                            
                            </div>
                          </ng-template>
                        </ngb-tab>
                        
  
                
                      <ngb-tab title="Beneficios">
                          <ng-template ngbTabContent>
                      
                              <div class="container"  >
  
                         
                             <div class="step-content teal lighten-5" disableWaves="true" style="font-size:1.4em;color: black;text-align:justify;font-style:initial">
                              <pre style="text-align: justify">  
    - Brinda una respuesta rápida y eficiente, con una menor dependencia de los combustibles fósiles,
      ayudando a la reducción de los costos de la energía eléctrica en el país.
                            
    - Proporciona energía sin afectar la calidad del agua, sin afectar el hábitat y 
      sin alterar el curso del río Bayano.

                              </pre>
                                 
                              
                                
                                </div>
                                      
                          </div>
                        </ng-template>
                      </ngb-tab>
                      
                
                    </ngb-tabset>
                    <!-- 
                    <div #gmap id="map" style="width:100%;height:550px"></div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <button (click)="setMapType('roadmap')"class="btn btn-primary">Mapa</button>
                        <button (click)="setMapType('satellite')" class="btn btn-danger">Satélite</button>
              
                      </div>
                      -->
            </div>
          </div>
     
        </div>
    </div>
  </div>
  </div>
  </nav>
  </div>
  
  </div>
  