<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/energia_hidro3.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <div  class="animated zoomInUp" >
          <h1>Energía Hidroeléctrica</h1>
          <br>
          <h3>La energía hidroeléctrica no solo es la principal fuente renovable de energía eléctrica en cuanto a cantidad de energía que produce, sino también en cuanto a la calidad de los servicios ofrecidos para garantizar la integridad y la fiabilidad del sistema eléctrico.  </h3>
      </div>
          <br />
    
      </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Desarrollo de la energía hidroeléctrica en Panamá</h2>
              <h5 style=" color: rgb(0, 0, 0); text-align: justify"class="description">Alrededor de 37 proyectos de centrales hidroeléctricas en Panamá se encuentran en diseño o en construcción, según la Autoridad de los Servicios Públicos (Asep),  como parte de un impulso de energía renovable en el país.</h5>
              <br>
              <a href="#paper-kit" class="btn btn-danger btn-round">Ver más</a>
          </div>
      </div>
      <br/><br/>
      <h1 style=" color: rgb(0, 0, 0); text-align: left" >Recursos</h1>
      <br> 
      <div class="row">

        
          <div class="card-group">
              
   <!-- Card -->
 
   <mdb-card dark="true">

      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/hidro_concepto.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body class="elegant-color white-text">
        <a class="activator px-3 mr-2">
            <mdb-icon fas icon="fas fa-water" class="white-text"></mdb-icon>
        </a>

        <!--Title-->
        <mdb-card-title style=" color: rgb(253, 253, 253)">
            
          <h4> Concepto  </h4>
        </mdb-card-title>

        <hr class="hr-light">

        <!--Text-->

        <mdb-card-text class="white-text">
            La energía hidroeléctrica es aquella que se genera al transformar la fuerza del agua en energía eléctrica.
          </mdb-card-text>

        <a href="#!" class="white-text d-flex justify-content-end">
          <h5 class="waves-light white-text"  mdbWavesEffect>Leer Más
            <span>
              <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
            </span>
          </h5>
        </a>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>

<!-- Card -->

  <!-- Card -->
  <mdb-card dark="true">

      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/hidro_bayano.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body class="elegant-color white-text">
        <a class="activator px-3 mr-2">
            <mdb-icon fas icon="fas fa-water" class="white-text"></mdb-icon>
        </a>

        <!--Title-->
        <mdb-card-title style=" color: rgb(253, 253, 253)">
            
          <h4> Hidroeléctrica Bayano  </h4>
        </mdb-card-title>

        <hr class="hr-light">

        <!--Text-->

        <mdb-card-text class="white-text">
            Ubicada a 80 km de la ciudad de Panamá, esta planta hidroeléctrica aprovecha las aguas del río Bayano. 
        </mdb-card-text>
        <a class="white-text d-flex justify-content-end">
          <h5 class="waves-light white-text" [routerLink]="['/ehidraulicabayano']" mdbWavesEffect>Leer Más
            <span>
              <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
            </span>
          </h5>
        </a>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
<!-- Card -->

  <!-- Card -->
  <mdb-card dark="true">

      <!--Card image-->
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/hidro_fortuna.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body class="elegant-color white-text">
        <a class="activator px-3 mr-2">
            <mdb-icon fas icon="fas fa-water" class="white-text"></mdb-icon>
        </a>

        <!--Title-->
        <mdb-card-title style=" color: rgb(253, 253, 253)">
            
          <h4> Hidroeléctrica Fortuna </h4>
        </mdb-card-title>

        <hr class="hr-light">

        <!--Text-->

        <mdb-card-text class="white-text">
            La planta hidroeléctrica Fortuna, también conocidad como Central Edwin Fábrega,es una hidroeléctrica con embalse y está ubicada la provincia de Chiriquí.      
           </mdb-card-text>

        <a href="#!" class="white-text d-flex justify-content-end">
          <h5 class="waves-light white-text" [routerLink]="['/ehidraulicafortuna']" mdbWavesEffect>Leer Más
            <span>
              <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
            </span>
          </h5>
        </a>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
<!-- Card -->

            </div>
  </div>
  <br><br>
</div>

<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">Acerca de Nosotros</h2>
      <div class="row">
          <div class="col-md-4">
            
          </div>

          <div class="col-md-4">
         
          </div>

          <div class="col-md-4">
    
          </div>
      </div>
  </div>
</div>


</div>
