<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/energy3.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                  <br>
                        <div  class="animated lightSpeedIn" >
                    <h1 class="presentation-title">En Soft Energy aportamos información referentes  a temas y proyectos relacionados con la energía en Panamá.</h1>
        </div>
                </div>

                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  
    </div>
    <div class="main">
     <!--  <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>--> 
      <div class="section javascript-components">
            <div  class="animated zoomInUp" >
            <div class="card-group">
                
                    <!-- Card -->
                 
                    <mdb-card dark="true">

                            <!--Card image-->
                            <div class="view overlay waves-light" mdbWavesEffect>
                              <mdb-card-img src="assets/img/eolica.jpg"></mdb-card-img>
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                            <!--/.Card image-->
                      
                            <!--Card content-->
                            <mdb-card-body class="elegant-color white-text">
                              <a class="activator px-3 mr-2">
                                <mdb-icon fas icon="fas fa-fan" class="white-text"></mdb-icon>
                              </a>
                      
                              <!--Title-->
                              <mdb-card-title style=" color: rgb(253, 253, 253)">
                                  
                                <h4> Energía Eólica  </h4>
                              </mdb-card-title>
                      
                              <hr class="hr-light">
                      
                              <!--Text-->
                      
                              <mdb-card-text class="white-text">
                                  Es una de las principales energías renovables que existen, producida por la fuerza del viento.                              </mdb-card-text>
                      
                              <a href="#!" class="white-text d-flex justify-content-end">
                                <h5 class="waves-light white-text" [routerLink]="['/eeolica']" mdbWavesEffect>Leer Más
                                  <span>
                                    <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                                  </span>
                                </h5>
                              </a>
                            </mdb-card-body>
                            <!--/.Card content-->
                          </mdb-card>
                        
                    <!-- Card -->

                    <!-- Card -->
                    <mdb-card class="mdb-color dark text-center">
                      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="assets/img/termica3.jpeg"alt="Card image cap"></mdb-card-img>
                        <a>
                          <div class="mask"></div>
                        </a>
                      </div>
                      <!--Card content-->
                      <mdb-card-body class="elegant-color white-text">
                            <a class="activator px-3 mr-2">
                                    <mdb-icon  fas icon="fas fa-radiation" class="white-text"></mdb-icon>
                                  </a>
                        <!--Title-->
                        <mdb-card-title style=" color: rgb(253, 253, 253)">
                          <h4>Energía Convencional</h4>
                        </mdb-card-title>
                  
                        <!--Text-->
                        <mdb-card-text class="white-text"> 
                    
                            La energía convencional es aquella energía eléctrica generada a partir de fuentes no renovables. 
                      </mdb-card-text>
                        <a [routerLink]="['/econvencional']"  mdbBtn color="white" outline="true"mdbWavesEffect>Leer más</a>
                      </mdb-card-body>
                    </mdb-card>
                  <!-- Card -->
                    <!-- Card -->
                    <mdb-card dark="true">

                            <!--Card image-->
                            <div class="view overlay waves-light" mdbWavesEffect>
                              <mdb-card-img src="assets/img/hidroelectrica.jpg"></mdb-card-img>
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                            <!--/.Card image-->
                      
                            <!--Card content-->
                            <mdb-card-body class="elegant-color white-text">
                              <a class="activator px-3 mr-2">
                                <mdb-icon fas icon="fas fa-water" class="white-text"></mdb-icon>
                              </a>
                      
                              <!--Title-->
                              <mdb-card-title style=" color: rgb(253, 253, 253)">
                                <h4>Energía Hidroeléctrica</h4>
                              </mdb-card-title>
                      
                              <hr class="hr-light">
                      
                              <!--Text-->
                      
                              <mdb-card-text class="white-text">
                                  La energía hidráulica es el aprovechamiento de la energía cinética de una masa de agua.                              </mdb-card-text>
                      
                              <a href="#!" class="white-text d-flex justify-content-end">
                                <h5 class="waves-light white-text" [routerLink]="['/ehidraulica']" mdbWavesEffect>Leer Más
                                  <span>
                                    <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                                  </span>
                                </h5>
                              </a>
                            </mdb-card-body>
                            <!--/.Card content-->
                          </mdb-card>
                    <!-- Card -->
 
                  </div>
                  </div>
      </div>
      
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Producción de Energía en Panamá</h2><br/>
                        <p class="description">
                                El consumo de energía en Panamá se ha ido incrementando de la mano con el crecimiento económico del país, y las perspectivas son que la demanda de electricidad siga incrementándose, por lo que se requiere de una oferta de producción de energía que sobrepase la demanda.
                        </p><br/>
                        <p class="description">
                                La matriz de energía eléctrica de Panamá está compuesta en un 63.05% de fuentes renovables, donde un 53.5% es obtenida de plantas hidroeléctricas,un 2.15% de energía solar fotovoltaica y un 7.4%  a tráves de energía eólica (viento), el resto 36.9% se obtiene de generación térmica (bunker C). De lo que se desprende que somos altamente dependientes de la energía producida por el agua de los ríos y sus afluentes.                        </p><br/>

                        <a [routerLink]="['/home']" class="btn btn-danger btn-round">Ver más</a>
                    </div>

                    <div class="col-lg-6 col-md-12">
                            <div class="energia" >
   
                                    <img class="log" src="assets/img/central_hidro.jpg" href="https://www.creative-tim.com" alt=""  style=" max-width: 100%; height: auto;" >
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Más Apartados</h2>
                        <p class="description"></p>
                    </div>
                </div>
            </div>
        </div>
 
  <!-- 
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you like what you see?</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.creative-tim.com/product/paper-kit-2" class="btn btn-warning btn-round">Download free HTML</a>
                        <a href="https://www.creative-tim.com/product/paper-kit-2-angular" class="btn btn-danger btn-round">Download free Angular</a>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
