<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/panam2.jpg');">
        <div class="filter"></div>
        
    </div>

     
            
                <div class="owner grey brown lighten-5">
                  <div  class="animated zoomInUp" >
                  <div class="titulo-seccion blue-grey lighten-3" style="font-weight:bold; margin: 40px  50px;color: black"><h1>Pan-Am </h1> <span class="linea"></span></div>
                </div>
                </div>
              
         
          <div class="navigation-example-ecpanam">
      
              <nav class="navbar navbar-expand-lg navbar-transparent">
                  <div class="container ">
    
                      <div class="collapse navbar-collapse" id="navbar-transparent">
    
    <div class="section profile-content ">
        <div class="container ">
            <div class="owner ">
                <br>
                <div  class="animated zoomInUp" >
                <div class="titulo-seccion blue-grey lighten-4" style="font-weight:bold; margin: 20px  30px;color: black"><h2>Inicios </h2> <span class="linea"></span></div>
              </div>
              </div>

            <div class="row  blue-grey lighten-4">

                <div class="col-lg-6 col-md-14">
                    <div  class="animated lightSpeedIn" >
                        <div class="energia" >
<br>
<br>
<br>
                                <img class="log" src="assets/img/panam3.jpg" href="https://www.creative-tim.com" alt=""  style=" max-width: 100%; height: auto;" >
                            </div>
                            </div>
                </div>
   
                        <div class="col-lg-6 col-md-12 ">
                            <!--<h2 class="title">Inicios</h2><span class="linea_inic"></span><br/>-->
                           <br>
                            <p class="description" style="color: black; font-size: 1.2em">
                                El Proyecto PanAm surge en 1999 al ganar una licitación para ofrecer suministro de energía entre PanAm Generating y EDEMET, con un plazo de entrega de los primeros MW a 6 meses de la firma del contrato del 26 de enero del mismo año.

                                Las obras se iniciaron con el movimiento de tierras en el sitio escogido el día 28 de enero de 1999, la primera máquina llego el 27 de marzo del mismo año. Posteriormente el 27 de julio fueron declarados en comercialización los primeros 48 MW. Los siguientes 48 MW se declararon en comercialización a mediados de noviembre.
                                
                            </p><br/>
                            <p class="description" style="color: black; font-size: 1.2em">
                                Lo que convierte el proyecto en uno de los construidos con mayor rapidez en el mundo, manteniendo los estándares requeridos para una planta de esta índole y cumpliendo con las normas ambientales de seguridad industrial para los empleados y alrededores.

                                Al inicio de la obra, en los momentos de pico, se sondeó la presencia de 600 empleados en la planta de los cuales el 90% fue personal panameño. En un inicio PanAm subcontrato a la empresa NAES (North American Energy Services) quien presto el servicio de operación y mantenimiento de la misma.
                                
                                 </p><br/>
    
                           
                        </div>
                          <br>

              
            </div>
            <br/>
            <br/>
          
          
            <div class="nav-tabs-navigation  " >
               
                <div class="nav-tabs-wrapper ">
                   
                    <ngb-tabset [justify]="'center'" type="pills">
                        <ngb-tab title="Ubicación" >
                            <ng-template ngbTabContent>
                        
                                <div class="container"  >
                      
                          <agm-map [zoom]="16"  style="height: 550px"  [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                          </agm-map>
                              
                            </div>
                          </ng-template>
                        </ngb-tab>


                        <ngb-tab title="Operacion">
                            <ng-template ngbTabContent>
               <!-- Horizontal Steppers -->
  <div class="row ">
      <div class="col-md-11 " style="margin: auto">
    
        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-horizontal blue-grey lighten-4">
    
          <!-- First Step -->
          <li class="completed">
            <a href="#!">
              <span class="circle">1</span>
  
              <h2 style="color: black">Inicio</h2>
              <br>    <br>   
                            <!-- Section Description -->
          <div class="step-content blue-grey lighten-4" disableWaves="true" style="font-size:3em;color: black ">
              <p style="font-size:0.4em ">
                  El combustible pesado Bunker C #6 , ya adecuado (blended) en la terminal portuaria, es almacenado en planta en dos tanques de 5,000 M3 (31,000 bbls) cada uno.              </p>
      
            </div>
            </a>
  
          </li>
    
          <!-- Second Step -->
          <li class="active ">
            <a href="#!">
              <span class="circle ">2</span>
              <h2 style="color: black">Procesamiento</h2>
            
              <br>    <br>   
              <!-- Section Description -->
  <div class="step-content blue-grey lighten-4" disableWaves="false" style="font-size:3em;color: black">
  <p style="font-size:0.4em ">
      Cada motor de la planta tiene conectado un generador, el cual con la ayuda del rotor y el campo magnético que se genera gracias a este último, se lleva energía eléctrica al transformador que eleva el voltaje de 13.8 kV a 230kV.  </p>
  
  </div>
            </a>
          </li>
    
          <!-- Third Step -->
          <li class="active ">
            <a href="#!">
              <span class="circle">3</span>
              <h2 style="color: black">Entrega</h2>
              <br>    <br>      
              <!-- Section Description -->
  <div class="step-content blue-grey lighten-4" disableWaves="false" style="font-size:3em;color: black">
  <p style="font-size:0.4em">
      Por último es envíado al sistema de integrado nacional por medio de las líneas de transmisión al punto de entrega que es la sub-estación La Chorrera.   </p>
  
  </div>
            </a>
          </li>
    
        </ul>
        <!-- /.Stepers Wrapper -->
    
      </div>
    </div>
    <!-- /.Horizontal Steppers -->
                        </ng-template>
                        </ngb-tab>
  
         


  
                        <ngb-tab title="Información">
                            <ng-template ngbTabContent>
                        
                                <div class="container"  >
                         
                          <!--<div #gmap id="map" style="width:50%;height:100px"></div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <button (click)="setMapType('roadmap')"class="btn btn-primary">Mapa</button>
                                <button (click)="setMapType('satellite')" class="btn btn-danger">Satélite</button>
                      
                              </div>
                              --> 
                              <div class="step-content blue-grey lighten-4" disableWaves="false" style="font-size:1.4em;color: black;text-align:justify;font-style:initial">
                                <pre style="text-align: justify">  
          Proyecto: Pan-Am


          Empresa a cargo del proyecto:  Pan-Am Generating.

          
          Fecha inicial de contrucción: Enero 1999.

                                       
          Fecha de finalización: julio 1999.          


          Motores de combustión: 9 Wärtsilä 18V46.

          Combustible utilizado: bunker.


          Capacidad Instalada: 156 MW.


          Aporte a la demanda energética del país: 13%
                            
                                     
      
                                </pre>
                                   
                                
                                  
                                  </div>
                                            
                            </div>
                          </ng-template>
                        </ngb-tab>
                        
  
                
                    </ngb-tabset>
                    <!-- 
                    <div #gmap id="map" style="width:100%;height:550px"></div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <button (click)="setMapType('roadmap')"class="btn btn-primary">Mapa</button>
                        <button (click)="setMapType('satellite')" class="btn btn-danger">Satélite</button>
              
                      </div>
                      -->
            </div>
          </div>
     
        </div>
    </div>
  </div>
  </div>
  </nav>
  </div>
  
  </div>
  